@import url(//db.onlinewebfonts.com/c/d091f3206c618342e183bce6e68aaa37?family=Mortal+Kombat+1);

@import url('http://fonts.cdnfonts.com/css/mortal-kombat');

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.card {
    position: relative;
    width: 37.5rem;
    padding: 1.25rem;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
   
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    cursor: pointer;
}

.card > h3 {
    position: absolute;
    width: 90%;
    font-family: "Mortal Kombat 2";
    color: #641313;
    text-align: center;
    font-size: 3rem;
    border-radius: 20px;
    background-color:rgb(8, 8, 8);
    bottom: 10px;
}

.swiper{
    position: absolute;
}

/* -------------- My Matches Styling --------------*/

.match-title {
    width: 100%;
    text-align: center;

}

.match-title > h1 {
    color: #580309;
    font-family: "Mortal Kombat 2";
}

.matches-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Mortal Kombat 1";
    
}


.match {
    position: relative;
    width: 15.5rem;
    padding: 1.25rem;
    max-width: 85vw;
    height: 25vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
    border:2px solid yellow;
    
    
}

.match > h3 {
    text-align: center;
    width: 70%;
    position: absolute;
    bottom: 1rem;
    font-family: "Mortal Kombat 2";
    color: #641313;
    font-weight: bold;
    font-size: 1.5rem;
    background-color:#080808;
    border-radius: 20px;
    margin-left: 1.2rem;
    margin-bottom: 1rem;
}
.forfeit-btn{
    cursor: pointer;
    border-radius: 50%;
    width:4vw;
    height:5vh;
    position: absolute;
    background-color:#811a1a;
    font-family: 'Mortal Kombat 2';
    font-weight: 700;
    z-index: 999;
}



@media screen and (max-width: 800px) {
    .matches-container{
        align-items: center;
    }

}

/* -------------- Oponnent Details Styling --------------*/
.opponent{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
    border:2px solid green;
   
}

.info-container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.secondary-title{
    border-bottom: 2px solid black;
    width: 50%;
    margin-left: 30rem;
    
}

