@import url(//db.onlinewebfonts.com/c/d091f3206c618342e183bce6e68aaa37?family=Mortal+Kombat+1);

@import url('https://fonts.cdnfonts.com/css/mortal-kombat');

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.home-container > h1 {
    font-family: "Mortal Kombat 4";
    text-align: center;
}


.main-card {
    width: 37.5rem;
    padding: 1.25rem;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
   
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    cursor: pointer;
}

.main-card > h3 {
    width: 90%;
    font-family: "Mortal Kombat 2";
    color: #641313;
    text-align: center;
    font-size: 3rem;
    border-radius: 20px;
    background-color:rgb(8, 8, 8);
    margin-top: 25rem;
    margin-left: 1rem
   
}

.swiper{
    position: absolute;
}

/* -------------- My Matches Styling --------------*/

.match-title {
    width: 100%;
    text-align: center;

}

.match-title > h1 {
    color: #580309;
    font-family: "Mortal Kombat 2";
}


.matches-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Mortal Kombat 1";
    
}

.card-matches {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.match {
    position: relative;
    width: 15.5rem;
    padding: 1.25rem;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black
  
}

.match > h3 {
    text-align: center;
    width: 10%;
    position: absolute;
    bottom: 1rem;
    font-family: "Mortal Kombat 2";
    color: #641313;
    font-weight: bold;
    font-size: 1.5rem;
    background-color:#080808;
    border-radius: 20px;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.match > img {
    border-radius: 50%;
    width: 18vw;
    height: 22vh
}

.appearnce > h4{
    color: #e67e00;
    border-bottom: 3px solid #e67e00;
}

.powerstats > h4 {
    color: #641313;
    border-bottom: 3px solid #641313;
}

.biography > h4 {
    color: darkblue;
    border-bottom: 3px solid darkblue;
}



.forfeit-btn{
    cursor: pointer;
    border-radius: 50%;
    width:4vw;
    height:5vh;
    position: absolute;
    background-color:#811a1a;
    font-family: 'Mortal Kombat 2';
    font-weight: 700;
    transition: all 0.3s linear;
    z-index: 999;
}

.forfeit-btn:hover {
    background-color:#d62b2b;
    width:4.5vw;
    height:5.5vh;
}


@media screen and (max-width: 800px) {
    
    .matches-container{
        align-items: flex-start;
        justify-content: flex-start;
    }

    .match{
       font-size: 1.25rem;
       width: 100%;
    }
    .match > img {
        width: 25vw;
        height: 20vh;
        margin-right: 2.25rem;
        padding:0;
        margin:0;
    }

    .biography{
        margin-left: 0.5rem ;
    }

    .powerstats{
        margin-left:1rem;
    }

    .forfeit-btn{
        color: transparent;
       width:10%;
    }

    .forfeit-btn:hover{
        width:7.6vw;
        height:5vh;
    }

    .match > h3{
        margin-left: 1rem;
        width: 20%;
    }

}


