@import url('http://fonts.cdnfonts.com/css/harry-potter');


/* Variables */
:root {
  --transition: all 0.3s linear;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #484848;
}

/* Navbar */

.potter-logo{
  font-family: 'Harry Potter', sans-serif;
  transition: var(--transition);
  font-size: 3rem;
  cursor: pointer;
  color: #080808;
}

.potter-logo:hover{
  font-family: 'Harry Potter', sans-serif;
  color: #D3D3D3;
}

.nav-center{
  background-color: #b22222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}


.links a {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(0.1rem);
  display: block;
  transition: var(--transition);
  text-decoration: none;
  color: #080808;
}

.links a:hover {
  color: #D3D3D3
}

.profile-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
 
}

.profile-icons a{
  color: #080808;
  cursor: pointer;
  transition: var(--transition);
}

.profile-icons a:hover{
  color: #D3D3D3;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

.fist{
  font-size: x-large;
  transition: var(--transition);
}

.fist-when-match{
  font-size: 70px;
  transition: var(--transition);
  color: #D3D3D3;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    list-style: none;
    margin-left: 5rem;
  }
  .links a {
    padding: 0;
    margin: 0 2.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .profile-icons {
    display: flex;
  }
  .profile-icons a {
    margin: 0 0.5rem;
    transition: var(--transition);
    color: #080808;
  }
  
}